<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	<div id="about">
	<a class="btn btn-primary btn-lg" type="button" href="/robots">List Robots</a>
	<a href="https://github.com/lukeberglund/Robots-CRUD-App">Robots CRUD App Git Repository</a>
	</div>
    <p>Welcomee to <%= title %></p>
  </body>
</html>
