<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	<div class="go-back">
	<a href="/robots" class="btn btn-info btn-md" ><span class="glyphicon glyphicon-circle-arrow-left"></span>Back</a>
	</div>